.navbar {
    background-color: var(--color-secundario);
    padding: 28px 0;

    ul {
        //display: flex;
        //justify-content: center;
        //align-items: center; // <-- centra verticalmente
        gap: 20px;
        margin-left: 80px;
    }

    // li {
    //     display: flex;
    //     align-items: center; // <-- evita desajustes por line-height
    // }

    a {
        color: var(--color-texto-nav);
        font-weight: 600;
        margin-left: 10px;  

        padding: 0 !important; 
        // line-height: 1 !important;
        // display: flex !important; 
        // align-items: center !important; 

        &:hover,
        &.active {
            color: var(--color-acento);
            font-weight: bold;
        }
    }
}