.subnav {
    background-color: var(--color-gris);
    padding: 12px 0;
    border-bottom: 1px solid #222;

    ul {
        display: flex;
        justify-content: center;
        align-items: center; // <-- centra verticalmente
        gap: 30px;
        margin-left: 90px;
        margin-top: 14px;
        margin-bottom: 14px;
    }

    a {
        color: var(--color-texto);
        font-weight: 500;

        &:hover {
            color: var(--color-secundario);
        }
    }
}