:root {
    --color-primario: #0D1117;
    --color-secundario: #004C80;
    --color-texto: #F5F5F5;
    --color-acento: #FFD700;
    --color-blanco: #FFFFFF;
    --color-gris: #1A1F25;
    --color-texto-nav: black;
}