/* Página Index */

.productos {
    padding: 20px 60px;
    background-color: var(--color-primario);
}

.video-section {
    background-color: var(--color-gris);
    padding: 40px 0;
    margin-top: 60px;
}

.video-container {
    width: 80%;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.video-container video {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 191, 255, 0.2);
}

/*Slider*/
.carousel-control-prev,
.carousel-control-next {
    width: 2%;
    /* <-- ESTA ES LA CLAVE */
}

/* Ajuste opcional que ya tienes */
.carousel-control-prev {
    left: 10px !important;
}

.carousel-control-next {
    right: 10px !important;
}

/* Tamaño y sombra de los iconos */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 40px;
    height: 40px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}